.labels-container{
  
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 16px;
}

.label{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 28px;
}

.checkbox-card {
  display: none;
}

.checkbox-card + label {
  width: 134px;
  height: 103px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  background-color: var(--shape-button);
  border: 0.1rem  solid var(--input-stroke); 
  padding: 4px 4px 8px 4px; 
}

.checkbox-card + label img {
  width: 126px;
  height: 64px;
  border-radius: 4px;
}

.checkbox-card + label .card-title {
  font: var(--body-sm);
  color: var(--text-heading);
  margin: 8px 4px;
}

.checkbox-card:checked + label {
  outline: 2px solid var(--brand-light);
}


/*Switch*/
 .outros-container{
      
      width: fit-content;
      display: flex;
      align-items: center;
      
      gap: 12px;
      
    }
    .full-switch{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-top: 16px;
    }
.switch-container{
  display: flex;
  width: 64px;
  height: 32px;
  align-items: center;
  border: 2px solid var(--input-stroke);
  padding-top: 10px;
  padding-left: 4px;
  border-radius: 999px;
  background-color: var(--input-base);
  transition: background-color 0.5s, color 0.5s;
}

.switch {  
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}
.slider {
  cursor: pointer;
  background-color: var(--input-stroke);
  transition: .4s;
  border-radius: 34px;
}

.slider:before{
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--input-stroke);
  transition: .4s;
  border-radius: 50%;
}



input:checked + .slider:before{
  transform: translateX(29px);
  background-color: var(--text-heading);
}

.mode-text {
  display: inline-block;
  content: "";
  font: var(--body-sm);
  color: var(--text-heading);
  min-width: 50px;
  margin-right: 60px;
}
.mode-text::before{
  content: "Escuro";
  transition: ease-in;
}
.switch-container:has(input:checked) + .mode-text::before{
  content: "Claro";
}

.switch-container:has(input:checked) {
  background-color: var(--brand-light);
}
   .upload-container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
   }
   .upload{
          display: flex;
          align-items: center;
          margin-top: 12px;
          text-align: center;
          width: fit-content;
          gap: 12px;
      .upload-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: none;
        width: 119px;
        height: 40px;
        background-color: var(--shape-button);
        border-radius: 8px;
       
        
        
        span{
          font: var(--body-md);
          color: var(--text-heading);

        }
      }
      span{
        font: var(--body-md);
        color: var(--input-placeholder);
        
      }
    }