#app {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}
aside {
  img {
    width: 400px;
    height: 728px;
    margin: 20px 20px;
    border-radius: 12px;
  }
}
main {
  overflow: 0 ;
    background-color: var(--shape-body);
    display: flex;
    flex-direction: column;
    width: 100%;
    #header{
      justify-content: flex-start;
      margin: 80px 130px;
    }
     
    .main-1 {
        display: flex;
        flex-direction: column;
          width: 560px;
        margin: 40px 130px 48px 130px;
        fieldset{
          all: unset;
        }

     
     }

    
}