  /*Layout*/
   .header-style{      
          display: flex;
          justify-content:  center;
          align-items: center;
          gap: 12px;
          width: fit-content;
         margin-bottom: 24px;
        }
        /*Erro*/
        :required{
          outline: 1px solid var(--feedback);
        }
        :valid{
          outline: 0px solid;
        }
/*Textos*/
#header {
  color: var(--text-heading);
   font: var(--heading-md);
}
#header-sm {
  color: var(--text-heading);
  font: var(--heading-sm);
}
#text-label {
            color: var(--text-body);
            font: var(--body-sm);
            
          }
          #input-text-fill {
            display: flex;
            width: 560px;
            margin-top: 16px;
            border: 1px solid var(--input-stroke);
            background-color: var(--input-base);
            color: var(--input-placeholder);
            font: var(--body-md);
            border-radius: 8px;
           gap: 8px;
           padding: 0px 16px; 
           height: 48px;
           margin-bottom: 16px;
          }
            
          #input-text {
            display: flex;
            margin-top: 16px;
            border: 1px solid var(--input-stroke);
            background-color: var(--input-base);
            color: var(--input-placeholder);
            font: var(--body-md);
            border-radius: 8px;
           gap: 8px;
           padding: 0px 16px; 
           height: 48px;
           margin-bottom: 16px;
          }
          /*Containers*/
     .input{
           display: flex;
           width: 100%;
            margin-top: 20px;
            flex-direction: column;
            transition: border-color 0.3s, ;
        } 
        /*Input metade metade*/
          .input-sm{
              display: flex;
              
             
              gap: 16px;

          #input-text {
               &::-webkit-calendar-picker-indicator {
              opacity: 0;
             }

            display: flex;   
            justify-content: center;
            align-items: center;
            width: 272px; 
            border: 1px solid var(--input-stroke);
            background-color: var(--input-base);
            font: var(--body-md);
            color: var(--input-placeholder);
            border-radius: 8px;
           
           padding: 0px 16px;
           height: 48px;
          }
        }
            
        .select-container{           
            display: flex;
            width: 272px; 
            border: 1px solid var(--input-stroke);
            background-color: var(--input-base);
            font: var(--body-md);
            color: var(--input-placeholder);
              border-radius: 8px;
          
           height: 48px;
           margin-top: 16px;
          gap: 8px;
          padding: 4px 4px;
           #select{
              border-style: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
             width: 100%;
              gap: 8px;
              padding: 4px 4px;
              border-radius: 4px;
              background-color: var(--input-base);
              
              #select-img{
                width: 16px;
                height: 16px;
              }
              
              &:hover,
              &:focus
              {
                background-color: var(--shape-hover);
                  outline: 0;
                  p{
                    font: var(--body-sm);
                    color: var(--text-heading);
                  }
                     & svg path {
                  stroke: var(--brand-light);
    }
              }
           }
        }
       
      #input-description{       
            text-align: left;
            border: initial;
            overflow: hidden;
            width: 560px;
            margin-top: 16px;
            border: 1px solid var(--input-stroke);
            background-color: var(--input-base);
            color: var(--input-placeholder);
            font: var(--body-md);
            border-radius: 8px;
           gap: 8px;
           padding: 16px 2px 98px 16px;

           margin-bottom: 48px;
          }
            /*Containers-End*/
            /*HOVERS*/
            
        #input-text-fill:hover{
         border: 1px solid var(--brand-light);
        }
        #input-text:hover{
          border: 1px solid var(--brand-light);
        }
         
     #hidden{
      visibility: hidden;
     }

     /*Erro*/
        .error-icon {
          content: url(../assets/icons/circle-alert-red.svg);
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }